.red{
    color:red;
}
.black{
    color:black;
}
.silver{
    color:silver;
}
.gray{
    color:gray;
}
.white{
    color:white;
}
.maroon{
    color:maroon;
}
.purple{
    color:purple;
}
.fuchsia{
    color:fuchsia;
}
.green{
    color:green;
}
.lime{
    color:lime;
}
.olive{
    color:olive;
}
.yellow{
    color:yellow;
}
.navy{
    color:navy;
}
.blue{
    color:blue;
}
.teal{
    color:teal;
}
.aqua{
    color:aqua;
}
.aliceblue{
    color:aliceblue;
}
.antiquewhite{
    color:antiquewhite;
}
.aquamarine{
    color:aquamarine;
}
.azure{
    color:azure;
}
.beige{
    color:beige;
}
.bisque{
    color:bisque;
}
.blanchedalmond{
    color:blanchedalmond;
}
.blueviolet{
    color:blueviolet;
}
.brown{
    color:brown;
}
.burlywood{
    color:burlywood;
}
.cadetblue{
    color:cadetblue;
}
.chartreuse{
    color:chartreuse;
}
.chocolate{
    color:chocolate;
}
.coral{
    color:coral;
}
.cornflowerblue{
    color:cornflowerblue;
}
.cornsilk{
    color:cornsilk;
}
.crimson{
    color:crimson;
}
.cyan{
    color:cyan;
}
.darkblue{
    color:darkblue;
}
.darkcyan{
    color:darkcyan;
}
.darkgoldenrod{
    color:darkgoldenrod;
}
.darkgray{
    color:darkgray;
}
.darkgreen{
    color:darkgreen;
}
.darkgrey{
    color:darkgrey;
}
.darkkhaki{
    color:darkkhaki;
}
.darkmagenta{
    color:darkmagenta;
}
.darkolivegreen{
    color:darkolivegreen;
}
.darkorange{
    color:darkorange;
}
.darkorchid{
    color:darkorchid;
}
.darkred{
    color:darkred;
}
.darksalmon{
    color:darksalmon;
}
.darkseagreen{
    color:darkseagreen;
}
.darkslateblue{
    color:darkslateblue;
}
.darkslategray{
    color:darkslategray;
}
.darkslategrey{
    color:darkslategrey;
}
.darkturquoise{
    color:darkturquoise;
}
.darkviolet{
    color:darkviolet;
}
.deeppink{
    color:deeppink;
}
.deepskyblue{
    color:deepskyblue;
}
.dimgray{
    color:dimgray;
}
.dimgrey{
    color:dimgrey;
}
.firebrick{
    color:firebrick;
}
.floralwhite{
    color:floralwhite;
}
.forestgreen{
    color:forestgreen;
}
.gainsboro{
    color:gainsboro;
}
.ghostwhite{
    color:ghostwhite;
}
.gold{
    color:gold;
}
.goldenrod{
    color:goldenrod;
}
.gray{
    color:gray;
}
.green{
    color:green;
}
.grey{
    color:grey;
}
.honeydew{
    color:honeydew;
}
.hotpink{
    color:hotpink;
}
.indianred{
    color:indianred;
}
.indigo{
    color:indigo;
}
.ivory{
    color:ivory;
}
.khaki{
    color:khaki;
}
.lavender{
    color:lavender;
}
.lavenderblush{
    color:lavenderblush;
}
.lawngreen{
    color:lawngreen;
}
.lemonchiffon{
    color:lemonchiffon;
}
.lightblue{
    color:lightblue;
}
.lightcoral{
    color:lightcoral;
}
.lightcyan{
    color:lightcyan;
}
.lightgoldenrodyellow{
    color:lightgoldenrodyellow;
}
.lightgray{
    color:lightgray;
}
.lightgreen{
    color:lightgreen;
}
.lightgrey{
    color:lightgrey;
}
.lightpink{
    color:lightpink;
}
.lightsalmon{
    color:lightsalmon;
}
.lightseagreen{
    color:lightseagreen;
}
.lightskyblue{
    color:lightskyblue;
}
.lightslategray{
    color:lightslategray;
}
.lightslategrey{
    color:lightslategrey;
}
.lightsteelblue{
    color:lightsteelblue;
}
.lightyellow{
    color:lightyellow;
}
.lime{
    color:lime;
}
.limegreen{
    color:limegreen;
}
.linen{
    color:linen;
}
.magenta{
    color:magenta;
}
.mediumaquamarine{
    color:mediumaquamarine;
}
.mediumblue{
    color:mediumblue;
}
.mediumorchid{
    color:mediumorchid;
}
.mediumpurple{
    color:mediumpurple;
}
.mediumseagreen{
    color:mediumseagreen;
}
.mediumslateblue{
    color:mediumslateblue;
}
.mediumspringgreen{
    color:mediumspringgreen;
}
.mediumturquoise{
    color:mediumturquoise;
}
.mediumvioletred{
    color:mediumvioletred;
}
.midnightblue{
    color:midnightblue;
}
.mintcream{
    color:mintcream;
}
.mistyrose{
    color:mistyrose;
}
.moccasin{
    color:moccasin;
}
.navajowhite{
    color:navajowhite;
}
.oldlace{
    color:oldlace;
}
.olivedrab{
    color:olivedrab;
}
.orange{
    color:orange;
}
.orangered{
    color:orangered;
}
.orchid{
    color:orchid;
}
.palegoldenrod{
    color:palegoldenrod;
}
.palegreen{
    color:palegreen;
}
.paleturquoise{
    color:paleturquoise;
}
.palevioletred{
    color:palevioletred;
}
.papayawhip{
    color:papayawhip;
}
.peachpuff{
    color:peachpuff;
}
.peru{
    color:peru;
}
.pink{
    color:pink;
}
.plum{
    color:plum;
}
.powderblue{
    color:powderblue;
}
.rosybrown{
    color:rosybrown;
}
.royalblue{
    color:royalblue;
}
.saddlebrown{
    color:saddlebrown;
}
.salmon{
    color:salmon;
}
.sandybrown{
    color:sandybrown;
}
.seagreen{
    color:seagreen;
}
.seashell{
    color:seashell;
}
.sienna{
    color:sienna;
}
.silver{
    color:silver;
}
.skyblue{
    color:skyblue;
}
.slateblue{
    color:slateblue;
}
.slategray{
    color:slategray;
}
.slategrey{
    color:slategrey;
}
.snow{
    color:snow;
}
.springgreen{
    color:springgreen;
}
.steelblue{
    color:steelblue;
}
.tan{
    color:tan;
}
.teal{
    color:teal;
}
.thistle{
    color:thistle;
}
.tomato{
    color:tomato;
}
.turquoise{
    color:turquoise;
}
.violet{
    color:violet;
}
.wheat{
    color:wheat;
}
.whitesmoke{
    color:whitesmoke;
}
.yellow{
    color:yellow;
}
.yellowgreen{
    color:yellowgreen;
}
.bg-red{
        background-color:red;
}
.bg-black{
        background-color:black;
}
.bg-silver{
        background-color:silver;
}
.bg-gray{
        background-color:gray;
}
.bg-white{
        background-color:white;
}
.bg-maroon{
        background-color:maroon;
}
.bg-purple{
        background-color:purple;
}
.bg-fuchsia{
        background-color:fuchsia;
}
.bg-green{
        background-color:green;
}
.bg-lime{
        background-color:lime;
}
.bg-olive{
        background-color:olive;
}
.bg-yellow{
        background-color:yellow;
}
.bg-navy{
        background-color:navy;
}
.bg-blue{
        background-color:blue;
}
.bg-teal{
        background-color:teal;
}
.bg-aqua{
        background-color:aqua;
}
.bg-aliceblue{
        background-color:aliceblue;
}
.bg-antiquewhite{
        background-color:antiquewhite;
}
.bg-aquamarine{
        background-color:aquamarine;
}
.bg-azure{
        background-color:azure;
}
.bg-beige{
        background-color:beige;
}
.bg-bisque{
        background-color:bisque;
}
.bg-blanchedalmond{
        background-color:blanchedalmond;
}
.bg-blueviolet{
        background-color:blueviolet;
}
.bg-brown{
        background-color:brown;
}
.bg-burlywood{
        background-color:burlywood;
}
.bg-cadetblue{
        background-color:cadetblue;
}
.bg-chartreuse{
        background-color:chartreuse;
}
.bg-chocolate{
        background-color:chocolate;
}
.bg-coral{
        background-color:coral;
}
.bg-cornflowerblue{
        background-color:cornflowerblue;
}
.bg-cornsilk{
        background-color:cornsilk;
}
.bg-crimson{
        background-color:crimson;
}
.bg-cyan{
        background-color:cyan;
}
.bg-darkblue{
        background-color:darkblue;
}
.bg-darkcyan{
        background-color:darkcyan;
}
.bg-darkgoldenrod{
        background-color:darkgoldenrod;
}
.bg-darkgray{
        background-color:darkgray;
}
.bg-darkgreen{
        background-color:darkgreen;
}
.bg-darkgrey{
        background-color:darkgrey;
}
.bg-darkkhaki{
        background-color:darkkhaki;
}
.bg-darkmagenta{
        background-color:darkmagenta;
}
.bg-darkolivegreen{
        background-color:darkolivegreen;
}
.bg-darkorange{
        background-color:darkorange;
}
.bg-darkorchid{
        background-color:darkorchid;
}
.bg-darkred{
        background-color:darkred;
}
.bg-darksalmon{
        background-color:darksalmon;
}
.bg-darkseagreen{
        background-color:darkseagreen;
}
.bg-darkslateblue{
        background-color:darkslateblue;
}
.bg-darkslategray{
        background-color:darkslategray;
}
.bg-darkslategrey{
        background-color:darkslategrey;
}
.bg-darkturquoise{
        background-color:darkturquoise;
}
.bg-darkviolet{
        background-color:darkviolet;
}
.bg-deeppink{
        background-color:deeppink;
}
.bg-deepskyblue{
        background-color:deepskyblue;
}
.bg-dimgray{
        background-color:dimgray;
}
.bg-dimgrey{
        background-color:dimgrey;
}
.bg-firebrick{
        background-color:firebrick;
}
.bg-floralwhite{
        background-color:floralwhite;
}
.bg-forestgreen{
        background-color:forestgreen;
}
.bg-gainsboro{
        background-color:gainsboro;
}
.bg-ghostwhite{
        background-color:ghostwhite;
}
.bg-gold{
        background-color:gold;
}
.bg-goldenrod{
        background-color:goldenrod;
}
.bg-gray{
        background-color:gray;
}
.bg-green{
        background-color:green;
}
.bg-grey{
        background-color:grey;
}
.bg-honeydew{
        background-color:honeydew;
}
.bg-hotpink{
        background-color:hotpink;
}
.bg-indianred{
        background-color:indianred;
}
.bg-indigo{
        background-color:indigo;
}
.bg-ivory{
        background-color:ivory;
}
.bg-khaki{
        background-color:khaki;
}
.bg-lavender{
        background-color:lavender;
}
.bg-lavenderblush{
        background-color:lavenderblush;
}
.bg-lawngreen{
        background-color:lawngreen;
}
.bg-lemonchiffon{
        background-color:lemonchiffon;
}
.bg-lightblue{
        background-color:lightblue;
}
.bg-lightcoral{
        background-color:lightcoral;
}
.bg-lightcyan{
        background-color:lightcyan;
}
.bg-lightgoldenrodyellow{
        background-color:lightgoldenrodyellow;
}
.bg-lightgray{
        background-color:lightgray;
}
.bg-lightgreen{
        background-color:lightgreen;
}
.bg-lightgrey{
        background-color:lightgrey;
}
.bg-lightpink{
        background-color:lightpink;
}
.bg-lightsalmon{
        background-color:lightsalmon;
}
.bg-lightseagreen{
        background-color:lightseagreen;
}
.bg-lightskyblue{
        background-color:lightskyblue;
}
.bg-lightslategray{
        background-color:lightslategray;
}
.bg-lightslategrey{
        background-color:lightslategrey;
}
.bg-lightsteelblue{
        background-color:lightsteelblue;
}
.bg-lightyellow{
        background-color:lightyellow;
}
.bg-lime{
        background-color:lime;
}
.bg-limegreen{
        background-color:limegreen;
}
.bg-linen{
        background-color:linen;
}
.bg-magenta{
        background-color:magenta;
}
.bg-mediumaquamarine{
        background-color:mediumaquamarine;
}
.bg-mediumblue{
        background-color:mediumblue;
}
.bg-mediumorchid{
        background-color:mediumorchid;
}
.bg-mediumpurple{
        background-color:mediumpurple;
}
.bg-mediumseagreen{
        background-color:mediumseagreen;
}
.bg-mediumslateblue{
        background-color:mediumslateblue;
}
.bg-mediumspringgreen{
        background-color:mediumspringgreen;
}
.bg-mediumturquoise{
        background-color:mediumturquoise;
}
.bg-mediumvioletred{
        background-color:mediumvioletred;
}
.bg-midnightblue{
        background-color:midnightblue;
}
.bg-mintcream{
        background-color:mintcream;
}
.bg-mistyrose{
        background-color:mistyrose;
}
.bg-moccasin{
        background-color:moccasin;
}
.bg-navajowhite{
        background-color:navajowhite;
}
.bg-oldlace{
        background-color:oldlace;
}
.bg-olivedrab{
        background-color:olivedrab;
}
.bg-orange{
        background-color:orange;
}
.bg-orangered{
        background-color:orangered;
}
.bg-orchid{
        background-color:orchid;
}
.bg-palegoldenrod{
        background-color:palegoldenrod;
}
.bg-palegreen{
        background-color:palegreen;
}
.bg-paleturquoise{
        background-color:paleturquoise;
}
.bg-palevioletred{
        background-color:palevioletred;
}
.bg-papayawhip{
        background-color:papayawhip;
}
.bg-peachpuff{
        background-color:peachpuff;
}
.bg-peru{
        background-color:peru;
}
.bg-pink{
        background-color:pink;
}
.bg-plum{
        background-color:plum;
}
.bg-powderblue{
        background-color:powderblue;
}
.bg-rosybrown{
        background-color:rosybrown;
}
.bg-royalblue{
        background-color:royalblue;
}
.bg-saddlebrown{
        background-color:saddlebrown;
}
.bg-salmon{
        background-color:salmon;
}
.bg-sandybrown{
        background-color:sandybrown;
}
.bg-seagreen{
        background-color:seagreen;
}
.bg-seashell{
        background-color:seashell;
}
.bg-sienna{
        background-color:sienna;
}
.bg-silver{
        background-color:silver;
}
.bg-skyblue{
        background-color:skyblue;
}
.bg-slateblue{
        background-color:slateblue;
}
.bg-slategray{
        background-color:slategray;
}
.bg-slategrey{
        background-color:slategrey;
}
.bg-snow{
        background-color:snow;
}
.bg-springgreen{
        background-color:springgreen;
}
.bg-steelblue{
        background-color:steelblue;
}
.bg-tan{
        background-color:tan;
}
.bg-teal{
        background-color:teal;
}
.bg-thistle{
        background-color:thistle;
}
.bg-tomato{
        background-color:tomato;
}
.bg-turquoise{
        background-color:turquoise;
}
.bg-violet{
        background-color:violet;
}
.bg-wheat{
        background-color:wheat;
}
.bg-whitesmoke{
        background-color:whitesmoke;
}
.bg-yellow{
        background-color:yellow;
}
.bg-yellowgreen{
        background-color:yellowgreen;
}

